body
{
    font-family: Quicksand-Bold;

    margin: 0;
}

.main_wrapper
{
    box-sizing: border-box;
    width: 80%;
    max-width: 1280px;
    margin: 24px auto 0 auto;
    padding: 0 95px;
}

.google
{
    text-align: center;
}

header img
{
    display: inline-block;

    margin: 0 auto;
}

header button
{
    font-family: Quicksand-Bold;
    font-size: 14px;

    width: 206px;
    height: 54px;
    padding: 0;

    vertical-align: middle;
    text-transform: uppercase;

    color: rgb(255,255,255);
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: rgb(170,155,119);
}

header button:active
{
    color: #000;
}

header button:hover
{
    cursor: pointer;

    background-color: rgb(177,157,126);
}

.content
{
    font-size: 0;

    margin-top: 20px;
}

.set_items
{
    display: flex;

    margin-bottom: 90px;

    justify-content: space-between;
}

.item
{
    font-size: 18px;

    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: calc( 100%/3 );
    max-width: 320px;
    height: 380px;
    padding: 20px;

    vertical-align: top;
    text-transform: uppercase;

    border: 6px solid rgb(245,246,247);
    background-color: rgb(245,246,247);;
}

.item:nth-child(2)
{
    margin: 0 20px;
}

.item:hover
{
    border: 6px solid rgb(170,155,119);
}

.item .size,
.colors,
.name_item,
.price
{
    position: absolute;

    display: inline-block;
}

.size
{
    top: 30px;
    left: 20px;
}

.colors
{
    top: 30px;
    right: 20px;

    display: inline-block;
}

.colors div
{
    display: inline-block;

    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-left: 5px;

    cursor: pointer;

    border-radius: 50%;
}

.name_item
{
    bottom: 30px;
    left: 20px;

    color: rgb(170,155,119);
}

.price
{
    right: 30px;
    bottom: 30px;
}

.image
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 60%;
    height: 60%;
    margin: auto;

    text-align: center;
}

.price:after
{
    content: '€';
}

.size_list
{
    position: relative;

    display: inline-block;
}

.size_list p
{
    margin: 0;
}

.size_list p:after
{
    font-family: FontAwesome;
    font-size: 29px;

    position: absolute;
    top: -3px;

    margin-left: 5px;

    content: '\f107';

    color: #000;
}

.size_list ul
{
    position: absolute;
    top: 0;
    left: 0;

    visibility: hidden;

    margin-top: 5px;
    padding: 0;

    list-style: none;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;

    opacity: 0;
}

.size_list ul li
{
    display: inline-block;

    width: 100%;

    text-align: center;
}

.size_list:hover ul
{
    top: 15px;

    visibility: visible;

    opacity: 1;
}

.size_list a
{
    display: block;

    text-decoration: none;
}

a
{
    text-decoration: none;

    color: #000;
}

.size_list a:hover
{
    background-color: rgb(170,155,119);
}

/*   ------  checkbox   for squares    */
.checkbox
{
    display: none;
}

.checkbox_custom
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 24px;
    height: 24px;

    transition: all .3s;
    vertical-align: middle;

    border: 2px solid rgb(204,204,204);
    border-radius: 3px;
}

.checkbox:checked + .checkbox_custom::before
{
    font-family: FontAwesome;
    font-size: 18px;

    position: absolute;
    bottom: 2px;
    left: 2px;

    display: block;

    content: '\f00c';

    color: rgb(170,155,119);
}

.checkbox:checked + .checkbox_custom
{
    border: 2px solid rgb(170,155,119);
}

/* for rows of items */

.row
{
    display: none;
}

.-shown
{
    display: block;
}

.navigat
{
    font-size: 18px;

    text-transform: uppercase;
}

.navigat span
{
    display: inline-block;

    vertical-align: middle;
}

.navigat label
{
    margin-right: 36px;
}

.nav_men
{
    display: inline-block;
}


/*   ---------  sorting menu   -------    */

.sorting
{
    font-size: 18px;

    text-transform: uppercase;
}

.sorting span
{
    margin-right: 20px;
}


.sorting span,
.type_sorting span:after
{
    vertical-align: middle;
}

.type_sorting
{
    position: relative;

    display: inline-block;
}

.type_sorting span
{
    margin: 0;
}

.type_sorting span:after
{
    font-family: FontAwesome;
    font-size: 22px;

    position: absolute;
    top: -2px;
    right: -17px;

    content: '\f107';
    transition: all .5s;

    color: #000;
}

.type_sorting span:hover:after
{
    transform: rotate(-180deg);
}

.type_sorting ul
{
    position: absolute;
    top: 0;
    left: 0;

    visibility: hidden;

    margin-top: 5px;
    padding: 0;

    list-style: none;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;

    opacity: 0;
}

.type_sorting ul li
{
    display: inline-block;

    width: 100%;

    text-align: center;
}

.type_sorting:hover ul
{
    top: 18px;

    visibility: visible;

    opacity: 1;
}

.type_sorting a
{
    font-size: 14px;

    display: block;

    text-decoration: none;
}

.type_sorting a:hover
{
    background-color: rgb(170,155,119);
}


/*  for line in row*/

.row span,
.row .line_goriz
{
    display: inline-block;

    vertical-align: middle;
}

.row span
{
    font-size: 20px;

    width: 100px;

    text-transform: uppercase;
}

.row .line_goriz
{
    box-sizing: border-box;
    width: calc(100% - 100px);

    border-top: 2px solid rgb(204,204,204);
}

.groups_items
{
    margin-top: 50px;
}

.groups_control
{
    margin-bottom: 15px;
}

.groups_items,
.groups_control
{
    text-align: right;

    color: rgb(170,155,119);
}

.toLeft
{
    text-align: left;
}

.groups_items span,
.groups_control span
{
    width: auto;
}

.groups_items span
{
    font-size: 16px;
}

.groups_items span:first-child:after
{
    content: ' / ';

    color: rgb(170,155,119);
}

.groups_items span:nth-child(2):before
{
    content: '\00A0';
}

.groups_control
{
    padding-right: 3px;
}

.groups_control span:nth-child(2):before
{
    content: '\00A0\00A0';
}


.groups_control i
{
    cursor: pointer;
}

.groups_control i:hover
{
    color: #000;
}


.container_check
{
    display: flex;
    flex-direction: row;

    margin: 70px 0;

    text-transform: uppercase;

    justify-content: space-between;
    align-items: center;
}

.set_checks label
{
    margin-right: 36px;
}

.set_checks .checkbox_custom,
.set_checks span
{
    font-size: 18px;

    vertical-align: middle;
}

/*---------------- for inner page----------------*/
.item_descript {
    display: none;
    position: relative;
    margin: 20px auto;
    border: 6px solid rgb(170,155,119);
    box-sizing: border-box;
    width: 100%;
    height: 1028px;
    background-color: #ccc;
    text-transform: uppercase;
    font-size: 22px;
}

.item_descript img{
    position: absolute;
    top: 100px;
    left: 25px;   
}



.back_to_catalog{
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}

.back_to_catalog span {
     vertical-align: middle;
}

.back_to_catalog:before{
    font-family: FontAwesome;
    font-size: 27px;
    content: '\f104';
    vertical-align: middle;
}

.item_descript .colors{
    position: inherit;
}

.item_descript .about_item {
    position: absolute;
    top: 100px;
    right: 50px;
}

.about_item {
    display: inline-block;
    width: 32%;
    font-size: 0;
}

.about_item span{
    display: inline-block;
}

.about_item > div span:last-of-type {
    width: 40%;
    padding-left: 20px;
    box-sizing: border-box;
}



.about_item .colors,
.about_item .price,
.about_item .size :first-child
{
    position: inherit;
    display: inline-block;
    width: 60%;
    text-align: right;
}

.about_item .name_item
{
    position: inherit;
    display: inline-block;
}

.about_item .size,
.about_item .color,
.about_item .price_item,
{
    display: block;
}

.about_item  div {
    font-size: 22px;
}
