@font-face {
	font-family: "Quicksand-Bold";
	src: url("../fonts/quicksand-bold-webfont.woff") format("woff"),
			 url("../fonts/Quicksand-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@import "../fonts/font-awesome-4.7.0/scss/font-awesome.scss";  